<a href="https://colab.research.google.com/github/shravankumar147/tutorials/blob/master/Find_missing_dates.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import datetime
A1 = [datetime.datetime(2007, 1, 2, 0, 1),
      datetime.datetime(2007, 1, 3, 0, 2),
      datetime.datetime(2007, 1, 4, 0, 3),
      datetime.datetime(2007, 1, 5, 0, 4),
      datetime.datetime(2007, 1, 6, 0, 5),
      datetime.datetime(2007, 1, 7, 0, 6) ]

A2 = [datetime.datetime(2007, 1, 2, 0, 1),
      datetime.datetime(2007, 1, 3, 0, 2),
      datetime.datetime(2007, 1, 6, 0, 5),
      datetime.datetime(2007, 1, 7, 0, 6) ]

In [0]:
A1s = list(map(lambda x: datetime.datetime.strftime(x, '%m/%d/%y'), A1))

In [0]:
A2s = list(map(lambda x: datetime.datetime.strftime(x, '%m/%d/%y'), A2))

In [28]:
[i for i in A1s if i not in A2s]

['01/04/07', '01/05/07']

In [0]:
import pandas as pd

In [0]:
df1 = pd.DataFrame(A1s, columns=['date'])

In [0]:
df2 = pd.DataFrame(A2s, columns=['date'])

In [42]:
df1

       date
0  01/02/07
1  01/03/07
2  01/04/07
3  01/05/07
4  01/06/07
5  01/07/07

In [43]:
df2

       date
0  01/02/07
1  01/03/07
2  01/06/07
3  01/07/07

In [44]:
df2[~df2.isin(df1).all(1)]

       date
2  01/06/07
3  01/07/07